            body{
                background-color: white; 
                font-family: sans-serif; 
                text-align:center; 
                font-size: 100%;
            }
            .row {
                display: flex;
            }
    
            .column {
                flex: 50%;
                padding: 10px;
                height: 150px;
                background-color:white; 
                color:black; 
                font-family: sans-serif; 
                text-align: left; 
            }
    
            .center {
                margin-left: 10px;
                width: 40%;
                height: 50%;
            }
    
            .button {
                background-color: rgba(255, 81, 0, 0.925);
                border-radius: 50px;
                color: white;
                padding: 10px 90px;
                text-align: center;
                font-family: sans-serif;
                font-size: 15px;
                margin-right: 300px;
            }